.full-screen-container {
  width: 100%;
  background: rgb(201, 119, 228);
  background: linear-gradient(
    22deg,
    rgba(201, 119, 228, 1) 0%,
    rgba(92, 107, 195, 1) 33%,
    rgba(2, 60, 128, 1) 74%
  );
  overflow: hidden;
}

.lhcolumn1 {
  flex: 3;
  justify-content: center;
  align-items: start;
  padding-left: 10%;
  margin-top: 8%;
}

.lhcolumn2 {
  flex: 2;
  justify-content: center;
  align-items: end;
  padding-right: 10%;
  padding-top: 5%;
}

.lhimage {
  max-width: 100%;
}

.lhtextDocu{
  color: #ffffff;
  font-family: "Inter-Black", Helvetica;
  font-size: 64px;
  font-weight: 900;
  font-style: italic;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  top: 0;
  margin: 0;
}

.lhtextSafe{
  color: #00ffff;
  font-family: "Inter-Black", Helvetica;
  font-size: 64px;
  font-weight: 900;
  font-style: italic;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  top: 0;
  margin: 0;
}

.lhtextPara{
  color: #ffffff;
  font-family: "Voces-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  top: 0;
}

.lhcol1row1{
  display: flex;
  align-items: flex-end;
}
