.container5 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #023c80 6.04%, #150042 100%);
  padding-bottom: 50px;
}

.heading_container5 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  height: 12 vh;
}
.heading_item5 {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}

.top_container5 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  height: 35vh;
  margin-left: 9%;
  margin-right: 9%;
}
.item_container5 {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-items: center;
}

.item_container_middle5 {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
}
.middle_container5 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  margin-right: 9%;
  
}
.item_container_last5{
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  overflow: hidden;  
  align-items: center;
}
.bottom_container5 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 10vh;
  margin-left: 9%;
  margin-right: 9%;
  justify-content: center;
  align-items: center;
  
}
.password-input_desk5{
  margin-right: 10px; /* Adjust as needed */
  padding: 8px; /* Adjust as needed */
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 200px;
  border: 2px solid #15caf2;
  border-radius: 10px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
  width: 30vw; /* Adjust the width as needed */
  height: 48px;
  }