.d9row1 {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.d9row2 {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding-top: 5%;
}

.d9row2col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d9row2col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d9row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.d9row4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
