.container7 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #023c80 6.04%, #150042 100%);
  padding-bottom: 50px;
}

.heading_container7 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  height: 12 vh;
}
.heading_iteam7 {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.top_container7 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 35vh;
}
.iteam_container7 {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.iteam_container_middle7 {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  justify-content: center;
  margin-left: 8%;
  margin-top: 5%;
}
.middle_container7 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  height: 30vh;
  margin-left: 9%;
  margin-right: 25%;
}
.bottom_container7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 35vh;
  margin-left: 9%;
  margin-right: 9%;
}
