.hrow {
  height: 300px;
  background: rgb(143, 119, 228);
  background: linear-gradient(
    5deg,
    rgba(143, 119, 228, 1) 0%,
    rgba(2, 60, 128, 1) 60%
  );
}

.hcolumn1 {
  flex: 3;
  justify-content: center;
  align-items: end;
  padding-right: 20px;
}

.hcolumn2 {
  flex: 2;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
}

.hHeading {
  color: #ffffff;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  top: 0;
  white-space: nowrap;
}
