/* Header.css */

.header {
    background-color:  #023C80;
    color: white;
    padding: 10px 0;
    
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .docu-safe {
    font-weight: bold;
    margin-right: auto; /* Add this to push "Docu Safe" to the left */
  }
  
  .img-doc-safe{
    max-width: 150px;
  }