/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */

*/

.desktop {
  background-color: #ffffff; 
  display: flex;
   flex-direction: row; 
   justify-content: center; 
   width: auto;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  border: 1px none;
  overflow-x: hidden;
}

.desktop .overlap {
  position: relative;
  width: 1472px;
}

.desktop .home-page {
  background: linear-gradient(
    180deg,
    rgb(2.13, 59.8, 127.5) 6.04%,
    rgb(21.08, 0, 65.87) 100%
  );
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .div {
  height: 780px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1444px;
}

.desktop .navbar {
  height: 48px;
  left: 64px;
  position: absolute;
  top: 45px;
  width: 1287px;
}

.desktop .docu-safe {
  color: transparent;
  font-family: 'Inter-Black', Helvetica;
  font-size: 36px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 302px;
}

.desktop .text-wrapper {
  color: #ffffff;
}

.desktop .span {
  color: #00ffff;
}

.desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 556px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 782px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 962px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1061px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.desktop .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1192px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.desktop .search {
  height: 23px;
  left: 1252px;
  position: absolute;
  top: 17px;
  width: 23px;
}

.desktop .overlap-group {
  background-size: 100% 100%;
  height: 780px;
  position: relative;
  width: 1440px;
}

.desktop .p {
  color: transparent;
  font-family: 'Inter-Black', Helvetica;
  font-size: 64px;
  font-weight: 900;
  left: 60px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 342px;
  width: 349px;
}

.desktop .is-a-powerful-free {
  color: #ffffff;
  font-family: 'Voces-Regular', Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 47px;
  position: absolute;
  top: 416px;
  width: 444px;
}

.desktop .overlap-group-wrapper {
  height: 575px;
  left: 617px;
  overflow: hidden;
  position: absolute;
  top: 163px;
  width: 740px;
}

.desktop .overlap-group-2 {
  height: 575px;
  position: relative;
}

.desktop .group {
  height: 423px;
  left: 0;
  position: absolute;
  top: 122px;
  width: 740px;
}

.desktop .div-wrapper {
  height: 575px;
  left: 84px;
  position: absolute;
  top: 0;
  width: 598px;
}

.desktop .group-2 {
  background-size: 100% 100%;
  height: 382px;
  left: 0;
  opacity: 0.46;
  position: absolute;
  top: 193px;
  width: 587px;
}

.desktop .img {
  height: 472px;
  left: 74px;
  position: absolute;
  top: 0;
  width: 525px;
}

.desktop .group-3 {
  height: 296px;
  left: 225px;
  position: absolute;
  top: 47px;
  width: 323px;
}

.desktop .group-4 {
  height: 107px;
  left: 154px;
  position: absolute;
  top: 386px;
  width: 173px;
}

.desktop .main-features {
  height: 1260px;
  left: 111px;
  position: absolute;
  top: 870px;
  width: 1095px;
}

.desktop .overlap-2 {
  border-radius: 10px;
  height: 76px;
  left: 742px;
  position: absolute;
  top: 1186px;
  width: 347px;
}

.desktop .rectangle {
  background: linear-gradient(
    180deg,
    rgb(10, 111, 168) 0%,
    rgb(5, 167, 244) 100%
  );
  border: 2px solid;
  border-color: #15caf2;
  border-radius: 10px;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.desktop .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-ExtraBold', Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 30px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
  width: 287px;
}

.desktop .element-img-wrapper {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background: linear-gradient(180deg, rgb(7, 42, 109) 0%, rgb(2, 60, 128) 100%);
  border-radius: 10px;
  height: 318px;
  left: 744px;
  position: absolute;
  top: 808px;
  width: 343px;
}

.desktop .element-img {
  height: 274px;
  left: 35px;
  position: absolute;
  top: 22px;
  width: 273px;
}

.desktop .overlap-3 {
  height: 453px;
  left: 132px;
  position: absolute;
  top: 807px;
  width: 345px;
}

.desktop .element-img-2 {
  height: 453px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}

.desktop .rectangle-2 {
  background: linear-gradient(
    180deg,
    rgb(10, 111, 168) 0%,
    rgb(5, 167, 244) 100%
  );
  border: 2px solid;
  border-color: #15caf2;
  border-radius: 10px;
  height: 76px;
  left: 0;
  position: absolute;
  top: 379px;
  width: 347px;
}

.desktop .overlap-group-3 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background: linear-gradient(180deg, rgb(7, 42, 109) 0%, rgb(2, 60, 128) 100%);
  border-radius: 10px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 0;
  width: 343px;
}

.desktop .group-5 {
  height: 234px;
  left: 54px;
  position: absolute;
  top: 42px;
  width: 234px;
}

.desktop .group-6 {
  height: 9px;
  left: 75px;
  position: absolute;
  top: 63px;
  width: 193px;
}

.desktop .vector {
  height: 2px;
  left: 164px;
  position: absolute;
  top: 179px;
  width: 2px;
}

.desktop .vector-2 {
  height: 2px;
  left: 160px;
  position: absolute;
  top: 186px;
  width: 2px;
}

.desktop .vector-3 {
  height: 2px;
  left: 180px;
  position: absolute;
  top: 186px;
  width: 2px;
}

.desktop .vector-4 {
  height: 2px;
  left: 180px;
  position: absolute;
  top: 189px;
  width: 2px;
}

.desktop .vector-5 {
  height: 2px;
  left: 160px;
  position: absolute;
  top: 189px;
  width: 2px;
}

.desktop .group-7 {
  height: 174px;
  left: 111px;
  position: absolute;
  top: 73px;
  width: 120px;
}

.desktop .data-highlight {
  color: #ffffff;
  font-family: 'Inter-ExtraBold', Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 31px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 399px;
  white-space: nowrap;
  width: 286px;
}

.desktop .overlap-4 {
  background: linear-gradient(
    180deg,
    rgb(10, 111, 168) 0%,
    rgb(5, 167, 244) 100%
  );
  border: 2px solid;
  border-color: #15caf2;
  border-radius: 10px;
  height: 76px;
  left: 742px;
  position: absolute;
  top: 555px;
  width: 347px;
}

.desktop .text-wrapper-8 {
  color: #ffffff;
  font-family: 'Inter-ExtraBold', Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 74px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 196px;
}

.desktop .img-wrapper {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background: linear-gradient(180deg, rgb(7, 42, 109) 0%, rgb(2, 60, 128) 100%);
  border-radius: 10px;
  height: 318px;
  left: 743px;
  position: absolute;
  top: 191px;
  width: 343px;
}

.desktop .element-img-3 {
  height: 250px;
  left: 47px;
  position: absolute;
  top: 34px;
  width: 250px;
}

.desktop .data-classification {
  height: 438px;
  left: 134px;
  position: absolute;
  top: 191px;
  width: 345px;
}

.desktop .overlap-5 {
  background: linear-gradient(
    180deg,
    rgb(10, 111, 168) 0%,
    rgb(5, 167, 244) 100%
  );
  border: 2px solid;
  border-color: #15caf2;
  border-radius: 10px;
  height: 76px;
  left: -2px;
  position: absolute;
  top: 364px;
  width: 347px;
}

.desktop .text-wrapper-9 {
  color: #ffffff;
  font-family: 'Inter-ExtraBold', Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 57px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
  width: 229px;
}

.desktop .element-img-4 {
  height: 255px;
  left: 76px;
  position: relative;
  top: 32px;
  width: 191px;
}

.desktop .overlap-6 {
  height: 255px;
  position: relative;
}

.desktop .vector-6 {
  height: 76px;
  left: 80px;
  position: absolute;
  top: 68px;
  width: 28px;
}

.desktop .group-8 {
  height: 212px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 184px;
}

.desktop .overlap-group-4 {
  height: 212px;
  position: relative;
}

.desktop .vector-7 {
  height: 184px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 157px;
}

.desktop .group-9 {
  background-size: 100% 100%;
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 184px;
}

.desktop .group-10 {
  background-size: 100% 100%;
  height: 103px;
  left: 66px;
  position: absolute;
  top: 54px;
  width: 56px;
}

.desktop .group-11 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 202px;
  width: 191px;
}

.desktop .text-wrapper-10 {
  color: #ffffff;
  font-family: 'Inter-ExtraBold', Helvetica;
  font-size: 32px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .rectangle-3 {
  background-color: #01feff;
  border-radius: 5px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 167px;
}

.desktop .footer {
  background-color: transparent;
  height: 469px;
  left: 0;
  position: absolute;
  top: 2344px;
  width: 1472px;
}

.desktop .overlap-7 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.09) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  height: 469px;
  position: relative;
  width: 1440px;
}

.desktop .text-wrapper-11 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 155px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 212px;
}

.desktop .text-wrapper-12 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 155px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 127px;
}

.desktop .text-wrapper-13 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 653px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 153px;
}

.desktop .text-wrapper-14 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 1142px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 155px;
}

.desktop .text-wrapper-15 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 156px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 195px;
  white-space: nowrap;
  width: 134px;
}

.desktop .text-wrapper-16 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 654px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 195px;
  white-space: nowrap;
  width: 209px;
}

.desktop .text-wrapper-17 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 1143px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 195px;
  white-space: nowrap;
  width: 135px;
}

.desktop .text-wrapper-18 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 156px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 285px;
  white-space: nowrap;
  width: 211px;
}

.desktop .what-s-new {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 155px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
  width: 139px;
}

.desktop .text-wrapper-19 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 653px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
  width: 153px;
}

.desktop .text-wrapper-20 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 1142px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
  width: 136px;
}

.desktop .text-wrapper-21 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 156px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 240px;
  white-space: nowrap;
  width: 215px;
}

.desktop .text-wrapper-22 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 654px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 240px;
  white-space: nowrap;
  width: 197px;
}

.desktop .text-wrapper-23 {
  color: #ffffff;
  font-family: 'Inter-Light', Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 1143px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 240px;
  white-space: nowrap;
  width: 105px;
}

.desktop .text-wrapper-24 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 653px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 198px;
}

.desktop .text-wrapper-25 {
  color: #ffffff;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1144px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 145px;
}
